/* RESETS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@300&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 400px;
}

.input {
  padding: 1.4rem;
  width: 100%;
  background-color: rgb(167, 164, 164);
  border: none;
  outline: none;
  text-align: end;
  color: white;
  font-weight: 500;
}

::placeholder {
  color: #fff;
  font-size: 1rem;
}

.buttons {
  width: 100%;
}

.buttons button {
  padding: 1rem;
  width: 25%;
  border-radius: 0;
  background-color: rgba(233, 230, 230, 0.856);
  border: 0.4px solid rgba(211, 209, 209, 0.973);
  font-weight: 500;
  font-size: 16px;
}

.buttons .zero {
  width: 50%;
}

button:nth-child(4n + 0) {
  background-color: rgba(255, 115, 0, 0.788);
}

button:nth-child(19) {
  background-color: rgba(255, 115, 0, 0.788);
}
